/*.imgbg {
    background-image: url('');
    background-repeat:repeat-x;
  }
  
  .bgmenu{
    background: rgba(221, 221, 221, 0.8);
    color: #000;
  }
  
  .bgmenu span {
    font-family: 'Chela One', cursive;
    font-size: 30px !important;
    color: #6d9bbf;
    text-align: center;
  }
  
  .bgmenu .styleTitle {
    font-size: 32px !important;
    color: #43484c;
  }
  
  .bgmenu a {
    color: #005573;
  }
  
  .bgmenu a:hover {
    color: #000;
  }
  
  .bg-element {
    background: #B5E6EC;
    color: #005573;
  }
  
  #map, #map2 {
    width: 100%;
    height: 300px;
    background-color: grey;
   }
  
  .bgfooter {
      background: rgb(221, 221, 221);
      margin: 10px 80px;
  }
  
  .bgfooter a {
    color: #005573;
  }
  
  .bgfooter a:hover {
    color: #000;
  }*/
  